<?php

return [
    'blogTitle' => 'Miniblog',
    'author' => [
        'name' => 'Daniel Bettles',
        'email' => 'danbettles@yahoo.co.uk',
    ],
    'lang' => 'en',  // ISO 639-1 language code.
];
