<?php

return [
    'site' => [
        /** @var string */
        'title' => 'Title of the Website',
        /** @var string */
        'description' => "A concise description of the website's content",
        /** @var string|null Optional */
        'blurb' => 'This is the blurb.  Use it to welcome your visitors or tell them about the website',
        /** @var string Published date of the website, in ISO 8601 format */
        'publishedOn' => '2022-09-18',
        /** @var string The ISO 639-1 code of the website's language */
        'lang' => 'en',
    ],
    // Default owner/author/contact
    'owner' => [
        /** @var string */
        'name' => 'Jane Doe',
        /** @var string Email address */
        'email' => 'janedoe@example.com',
    ],
    // Show Wholegrain Digital's Website Carbon Badge in the footer?  The badge displays an estimate of the carbon
    // emissions of the page.  The badge is *never* shown in the dev environment.
    'show_website_carbon_badge' => true,
    /** @var string The runtime environment.  prod|dev */
    'env' => 'prod',
];
