parameters:
    level: max
    paths:
        - bin
        - public
        - src
        - templates
        - tests
    ignoreErrors:
        -
            message: '#Call to an undefined method Miniblog\\Engine\\OutputHelper::create[A-Z]#'
            paths:
                - src/OutputHelper.php
                - templates/layout.html.php
        -
            message: '#^Variable \$\w+ might not be defined.$#'
            path: templates/*
