parameters:
    level: max

    paths:
        - bin
        - public
        - src
        - templates
        - tests

    # @todo Update `MenuItemArray.children` when recursive type-aliases are supported
    typeAliases:
        FrontMatter: 'array<string,?string>'
        ParsedDocument: 'array{frontMatter:FrontMatter,body:?string}'
        MatchedRoute: 'array{id:string,path:string,action:class-string<Miniblog\Engine\AbstractAction>,parameters:array<string,string>}'
        ConfigArray: 'array{env:string,engineDir:string,engineTemplatesDir:string,projectDir:string,projectTemplatesDir:string,dataDir:string}'
        MenuItemArray: 'array{routeId:string,content:string,children?:mixed[]}'
        CommandOptionsArray: 'array<string,string>'

    ignoreErrors:
        -
            message: '#Call to an undefined method Miniblog\\Engine\\OutputHelper::create[A-Z]#'
            paths:
                - src/OutputHelper.php
                - templates/layout.html.php
                - templates/SignUpAction/confirmation_email.html.php
        -
            message: '#^Variable \$\w+ might not be defined.$#'
            path: templates/*
