:root {
    --font-body: Georgia, 'Times New Roman', Times, serif;
    /* See https://github.com/csstools/sanitize.css/blob/main/typography.css#L6 */
    --font-heading:
        system-ui,
        /* macOS 10.11-10.12 */ -apple-system,
        /* Windows 6+ */ "Segoe UI",
        /* Android 4+ */ "Roboto",
        /* Ubuntu 10.10+ */ "Ubuntu",
        /* Gnome 3+ */ "Cantarell",
        /* KDE Plasma 5+ */ "Noto Sans",
        /* fallback */ sans-serif,
        /* macOS emoji */ "Apple Color Emoji",
        /* Windows emoji */ "Segoe UI Emoji",
        /* Windows emoji */ "Segoe UI Symbol",
        /* Linux emoji */ "Noto Color Emoji";
    --gutter: 36px;
    --main-content-width: 696px;
    --colour-main: #222;
    --colour-muted: #6c757d;
    --colour-border: #ddd;
}

html {
    font-family: var(--font-body);
    font-size: 18px;
    color: var(--colour-main);
    background-color: #fff;
}

html,
body {
    height: 100%;
}

/* ###> Code ### */
code, kbd, samp, pre {
    font-family: monospace;
    background-color: #f2f1f1;
    border-radius: 0.25rem;  /*rem for 'constant' radius.*/
}

code, kbd, samp {
    padding: 0.125em 0.25em;
}

pre {
    padding: 1em;
}

pre > code {
    white-space: break-spaces;
}
/* ###< Code ### */

/* Default 'headings' style. */
h1, h2, h3, h4, h5, h6,
article > header {
    font-family: var(--font-heading);
    text-align: center;
}

/* ###> Links ### */
a {
    text-decoration: none;
    color: #2455c3;
}

a:hover, a:focus, a:active {
    text-decoration: underline;
    color: var(--colour-main);
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
}
/* ###< Links ### */

/* ###> Layout ### */
.container {
    display: flex;
    flex-direction: column;
    max-width: calc(var(--gutter) + var(--main-content-width) + var(--gutter));
    min-height: 100%;
    margin: 0 auto;
    padding: 0 var(--gutter);
}

.masthead {
    text-align: center;
    border-bottom: 1px solid var(--colour-border);
}

.masthead__title {
    font-family: var(--font-heading);
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.5em;
    text-align: inherit;
    margin: 0.83em 0;
}

.masthead__title a {
    text-decoration: none;
    color: var(--colour-main);
}

.masthead__description {
    font-family: var(--font-body);
    font-size: smaller;
    color: var(--colour-muted);
}

main,
.container > footer {
    max-width: var(--main-content-width);
    margin: 0 0 1em 0;
}

main {
    flex: 1 0 auto;
}

.container > footer {
    display: flex;
    height: 3em;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;  /*Sticky footer.*/
    font-family: var(--font-heading);
    font-size: smaller;
    color: var(--colour-muted);
    border-top: 1px solid var(--colour-border);
}

.container > footer > * {
    margin: 0;
}

@media screen and (min-width: 992px) {
    :root {
        --masthead-width: 220px;
    }

    .container {
        max-width: calc(var(--gutter) + var(--masthead-width) + var(--gutter) + var(--main-content-width) + var(--gutter));
    }

    .masthead {
        position: fixed;
        top: 0;
        width: var(--masthead-width);
        text-align: left;
        border-bottom: 0;
    }

    main,
    .container > footer {
        margin-left: calc(var(--masthead-width) + var(--gutter));
    }
}
/* ###< Layout ### */

.blog-posts {
    text-align: center;
}

article > header h1,
article > header h2 {
    margin-bottom: calc(1em / 6);
}

.article__by-line > span {
    font-weight: bold;
}
